summary {
  font-size: 1.25rem;
  font-weight: 600;

  color: #333;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;
}
details > summary::after {
  position: absolute;
  content: '+';
  right: 20px;
}
details[open] > summary::after {
  position: absolute;
  content: '-';
  right: 20px;
}
details > summary::-webkit-details-marker {
  display: none;
}
.details-component-container {
  padding-left: 5px;
}
.faq__content {
  padding-left: 30px;
}
.details_design {
  border-style: solid;

  margin-bottom: 10px;
}
body {
  background-color: bisque;
}
